body{
    font-family: 'Poppins', ;
    margin:0px;
  
}

/*Top part design */

h1{
    font-size: 40px;
}
.name-highlights{
    color: green;
}
.half-width{
     width: 40%;
     float: left;
     margin-left:5%;
     padding-left:3%;
     margin-top: 10px;
}
.half-width img{
     width:330px;
     height:330px;
     border-radius:50%;
     border: 1px solid black;
     margin-top:10px;
}
.top-banner{
    background-image: url('image/top-banner.png');
    background-repeat: no-repeat;
   
    
}
section{
    height: 400px;
    padding-bottom: 90px;
}
.button-portfolio{
     text-decoration: none;
     text-transform: uppercase;
     border:1px solid orange;
     color:red;
     border-radius: 5px;
     padding: 10px 20px;
     background-image: linear-gradien(45deg ,lightsalmon,tomato);
    
}

.half-area img{
     width:330px;
     height: 330px;
     border-radius:50%;
}

/*middle part design */

.middle-banner{
    background-image: url('image/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 92%;
}
.half-area{
    float: left;
    width:40%;
}
.half-area img{
    margin-left: 80px;
}
.button-cv{
    text-decoration: none;
    text-transform: uppercase;
    border:1px solid orange;
    color:red;
    border-radius: 5px;
    padding: 10px 20px;
    background-image: linear-gradien(45deg ,lightsalmon,tomato);
}

.names-highlights{
    color:orange;
}

/*footer part design */

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 200px;
    background-color: white;
}
.experience-area{
    background-image: url('image/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
     border-left:7px solid ;
     border-image: linear-gradient(lightsalmon, tomato);
     border-image-slice: 1;
}
#good-developer{
    border-bottom:7px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
     text-align: center;
     font-size: 25px;
}